#shapPageDiv {
    height: 550px;
    width: 950px;
    background-color:#151719;
    position: relative;
    left: 300px;
    top: 100px;
    border-style: groove;
    border-color: gray;
  }

#levelUpButton {
    padding: 5px;
    border: 5px;
    background-color: #151719;
    position: relative;
    left: 425px;
    color: gray;
}

#levelUpButton:hover {
  color: rgb(138, 16, 16);
  cursor: pointer;
}

#levelUpButton:active{
  transform: translateY(4px);
}