.displayCharacterDiv {
  height: 550px;
  width: 350px;
  background-color:#151719;
  position: relative;
  left: 1100px;
  top: 100px;
  border-style: groove;
  border-color: gray;
}

.displayEnemyDiv {
  height: 550px;
  width: 350px;
  background-color:#151719;
  position: fixed;
  left: 90px;
  top: 100px;
  border-style: groove;
  border-color: gray;
}

/* -------------------------------------------------------------- */

/* Character Template Formatting */
#displayCharacterTemplateBody{
  color: gray;
  position: relative;
  left: 10px;
}

#displayCharacterTemplateCharacterName{
  color: red;
  font-weight: bold;
  font-style: italic;
  font-family: cursive;
  font-size: 50px;
  text-align: center;
}

/* Enemy Template Formatting */
#displayEnemyTemplateBody{
  color: gray;
  position: relative;
  left: 10px;
}

#displayEnemyTemplateCharacterName{
  color: red;
  font-weight: bold;
  font-style: italic;
  font-family: cursive;
  font-size: 50px;
  text-align: center;
}

#goToNextRoundOfCombat{
  background-color: #151719;
  color: gray;
  position: relative;
  left: 100px;
  top: 50px;
  padding: 3px;
  border-style: groove;

}
#goToNextRoundOfCombat:hover{
  color:rgb(138, 16, 16);
  cursor: pointer;
}

/* ------------------------ */
#bagInHomeMenu{
  height: 550px;
  width: 750px;
  background-color: #151719;
  border-style: groove;
  border-color: rgb(138, 16, 16);
  position: fixed;
  bottom: 70px;
  left: 220px;
}

#possesedItems{
  height: 450px;
  width: 350px;
  background-color: #151719;
  border-style: groove;
  border-color: rgb(138, 16, 16);
  position: relative;
  top: 10px;
  left: 10px;
}

#possesedItems{
  color: gray;
  outline: rgb(138, 16, 16);
  overflow-y: scroll;
}
#possesedItems li{
  cursor: pointer;
  list-style-type: none;
  text-align: center;
  border-style: groove;
  border-color: rgb(138, 16, 16);
}

/* -------------------------- */

#itemDescriptionInHome{
  height: 450px;
  width: 350px;
  background-color:#151719;
  position: fixed;
  left: 608px;
  top: 137px;
  border-style: groove;
  border-color: gray;
  list-style-type: none;
  color: gray;
}

#closeItemDescriptionInHome{
  height: 20px;
  width: 20px;
  bottom: 370px;
  left: 923px;
  bottom: 398px;
  background-color:gray;
  position: relative;
  font-size: medium;
}
