#shapPageDiv {
    height: 550px;
    width: 950px;
    background-color:#151719;
    position: relative;
    left: 300px;
    top: 100px;
    border-style: groove;
    border-color: gray;
  }

#levelUpButton {
    padding: 5px;
    border: 5px;
    background-color: #151719;
    position: relative;
    left: 425px;
    color: gray;
}

#levelUpButton:hover {
  color: rgb(138, 16, 16);
  cursor: pointer;
}

#levelUpButton:active{
  transform: translateY(4px);
}
/* --------------------------------------------- */
.currency {
  padding: 5px;
    border: 5px;
    background-color: #151719;
    position: fixed;
    top: 110px;
    left: 320px;
    color: gray;
}
#experience {
  padding: 5px;
  border: 5px;
  background-color: #151719;
  position: fixed;
  top: 110px;
  left: 320px;
  color: gray;
}

#levelUp {
  padding: 5px;
  border: 5px;
  background: none;
  position: fixed;
  top: 40px;
  left: 727px;
  color: gray;
}

#sell {
  padding: 5px;
  border: 5px;
  background: none;
  position: fixed;
  top: 40px;
  left: 640px;
  color: gray;
}

#buy {
  padding: 5px;
  border: 5px;
  background: none;
  position: fixed;
  top: 40px;
  left: 870px;
  color: gray;
}

#attributeDisplay{
  height: 380px;
  width: 350px;
  background-color:#151719;
  position: relative;
  left: 50px;
  top: 60px;
  border-style: groove;
  border-color: gray;
}

#displayCharacterStatsBody{
  color: gray;
  position: relative;
  left: 10px;
}

#displayLevelUpPoints {
  color: gray;
  position: relative;
  left: 10px;
}

#buttonDisplay{
  height: 150px;
  width: 350px;
  background-color:#151719;
  position: relative;
  left: 50px;
  top: 5px;
  border-style: groove;
  border-color: gray;
}

.levelUpPointButtons {
  padding: 5px;
  border: 5px;
  border-style: groove;
  border-color: gray;
  background-color: #151719;
  position: relative;
  left: 5px;
  color: gray;
  font-size: large;
  list-style-type: none;
  
}

.levelUpPointButtons:hover {
  color: rgb(138, 16, 16);
  cursor: pointer;
}
/* -------------------------------- */

#buyableOption{
  height: 450px;
  width: 350px;
  background-color:#151719;
  position: relative;
  left: 50px;
  top: 60px;
  border-style: groove;
  border-color: gray;
  overflow-y: scroll;
}

#buyableOption :hover{
  color: rgb(138, 16, 16);
  cursor: pointer;
}

#buyableOption li{
  list-style-type: none;
  color: gray;
  text-align: center;
}

/* ---------------------- */

#bagInShop{
  height: 450px;
  width: 350px;
  background-color:#151719;
  position: fixed;
  left: 850px;
  top: 165px;
  border-style: groove;
  border-color: gray;
}

#nameOfBag{
  color: gray;
  text-align: center;
}

#bagInShop li{
  list-style-type: none;
  color: gray;
  font-size: xx-large;
}
#bagInShop{
  overflow-y: scroll;
  text-align: center;
}

#bagInShop li:hover{
  color: rgb(138, 16, 16);
  cursor: pointer;
}

/* --------------------------------- */

#itemDescription{
  height: 450px;
  width: 350px;
  background-color:#151719;
  position: fixed;
  left: 850px;
  top: 165px;
  border-style: groove;
  border-color: gray;
  list-style-type: none;
  color: gray;
}

/* ---------------- */
#closeItemDescription{
  height: 20px;
  width: 20px;
  bottom: 370px;
  left: 860px;
  background-color:gray;
  position: relative;
  font-size: medium;
}

.description{
  font-size: large;
}

#price{
  font-size: large;
  color: rgb(49, 68, 121);}

#nameOfItem{
  text-align: center;
  color: rgb(138, 16, 16);
}

#area{
  font-size: large;
}

/* ---------------- */
