#shopPageDiv {
    height: 550px;
    width: 950px;
    background-color:#151719;
    position: relative;
    left: 300px;
    top: 100px;
    border-style: groove;
    border-color: rgb(90, 6, 6);
  }

/* Level-Up character Button */

#levelUpCharacter {
    padding: 5px;
    border: 5px;
    background-color: #151719;
    position: relative;
    left: 425px;
    color: gray;
}

#levelUpCharacter:hover {
  color: rgb(90, 6, 6);
  cursor: pointer;
}

#levelUpCharacter:active{
  transform: translateY(4px);
}

/* Currency Displays */
.currency {
  padding: 5px;
  border: 5px;
  background-color: #151719;
  position: fixed;
  top: 110px;
  left: 320px;
  color: gray;
}

/* Shop Menu Tabs */

.menu{
  padding: 5px;
  border: 5px;
  background: none;
  position: fixed;
  color: gray;
}
#levelUp {
  top: 40px;
  left: 727px;
}

#buy {
  top: 40px;
  left: 870px;
}

/* Level-Up application menu */
#attributeDisplay{
  height: 380px;
  width: 350px;
  background-color:#151719;
  position: relative;
  left: 50px;
  top: 60px;
  border-style: groove;
  border-color: rgb(90, 6, 6);
}

#displayCharacterStatsBody{
  color: gray;
  position: relative;
  left: 10px;
}

#displayLevelUpPoints {
  color: gray;
  position: relative;
  left: 10px;
}

#buttonDisplay{
  height: 150px;
  width: 350px;
  background-color:#151719;
  position: relative;
  left: 50px;
  top: 5px;
  border-style: groove;
  border-color: rgb(90, 6, 6);
}

/* Buttons Used for spending level-up points */

.levelUpPointButtons {
  padding: 5px;
  border: 5px;
  border-style: groove;
  border-color: rgb(90, 6, 6);
  background-color: #151719;
  position: relative;
  left: 5px;
  color: gray;
  font-size: large;
  list-style-type: none;
}

.levelUpPointButtons:hover {
  color: rgb(90, 6, 6);
  cursor: pointer;
}

/* Shops Buyable Options */

#buyableOption{
  height: 450px;
  width: 350px;
  background-color:#151719;
  position: relative;
  left: 50px;
  top: 60px;
  border-style: groove;
  border-color: rgb(90, 6, 6);
  overflow-y: scroll;
}

#buyableOption :hover{
  color: rgb(90, 6, 6);
  cursor: pointer;
}

#buyableOption li{
  list-style-type: none;
  color: gray;
  text-align: center;
}

/* Players Item Bag In The Store */

#nameOfBag{
  color: gray;
  text-align: center;
}

.shopBag{
  height: 450px;
  width: 350px;
  background-color:#151719;
  position: fixed;
  left: 850px;
  top: 165px;
  border-style: groove;
  border-color: rgb(90, 6, 6);
  overflow-y: scroll;
  text-align: center;
}

.shopBag li{
  list-style-type: none;
  color: gray;
  font-size: xx-large;
}

.shopBag li:hover{
  color: rgb(90, 6, 6);
  cursor: pointer;
}

/* Description of item selected in the store */

.ShopPageItemDescription{
  height: 450px;
  width: 350px;
  background-color:#151719;
  position: fixed;
  left: 850px;
  top: 165px;
  border-style: groove;
  border-color: rgb(90, 6, 6);
  list-style-type: none;
  color: gray;
}

/* Squre to press to close item description */

.closeItemDescription{
  height: 20px;
  width: 20px;
  bottom: 370px;
  left: 860px;
  background-color:gray;
  position: relative;
  font-size: medium;
}

/* Item Description Formatting */

.description{
  font-size: large;
}

#price{
  font-size: large;
  color: rgb(49, 68, 121);}

#nameOfItem{
  text-align: center;
  color: rgb(90, 6, 6);
}

#area{
  font-size: large;
}

/* The Buy & Sell Buttons */

.buySellButtons{
  height: fit-content;
  width: fit-content;
  left: 750px;
  bottom: 150px;
  background-color:gray;
  position: fixed;
  font-size: xx-large;
  color: aqua;
}
