/* Display Div Structure */
.entityDisplayDiv {
  height: 550px;
  width: 350px;
  background-color:#151719;
  position: relative;
  left: 1100px;
  top: 100px;
  border-style: groove;
  border-color: rgb(90, 6, 6);
}

#displayEnemyDivForBattleScreen {
  position: fixed;
  left: 90px;
  top: 100px;
}

/* Display Divs Formatting */

.templateBody{
  color: gray;
  position: relative;
  left: 10px;
}

.templateName{
  color: rgb(90, 6, 6);
  font-weight: bold;
  font-style: italic;
  font-family: cursive;
  font-size: 50px;
  text-align: center;
}

/* Ascend Button */
#goToNextRoundOfCombat{
  background-color: #151719;
  color: gray;
  position: relative;
  left: 100px;
  top: 50px;
  padding: 3px;
  border-style: groove;
  border-color: rgb(90, 6, 6)

}
#goToNextRoundOfCombat:hover{
  color:rgb(90, 6, 6);
  cursor: pointer;
}

/* Bag Structure */
#bagInHomeMenu{
  height: 550px;
  width: 750px;
  background-color: #151719;
  border-style: groove;
  border-color: rgb(90, 6, 6);
  position: fixed;
  bottom: 70px;
  left: 220px;
}

#possesedItems li{
  cursor: pointer;
  list-style-type: none;
  text-align: center;
}

/* -------------------------- */

.HomePageItemDescription {
  height: 450px;
  width: 350px;
  background-color:#151719;
  position: fixed;
  top: 153px;
  left: 608px;
  border-style: groove;
  border-color: rgb(90, 6, 6);
  list-style-type: none;
  color: gray;
  outline: rgb(90, 6, 6);
}

/* The little Square you click on to close the items description */
.HomePageCloseItemDescriptionSquare{
  height: 20px;
  width: 20px;
  bottom: 370px;
  left: 923px;
  bottom: 382px;
  background-color:gray;
  position: relative;
  font-size: medium;
}

/* Item name alignment */

#equippedItemsInHome{
  text-align: center;
}

#possesedItems{
  left: 232px;
  overflow-y: scroll;
}
/* Equip and Unequip Buttons */

.equipUnequipButtons{
  height: fit-content;
  width: fit-content;
  left: 750px;
  bottom: 150px;
  background-color:gray;
  position: fixed;
  font-size: xx-large;
  color: aqua;
}