* {
    margin: 0px;
    padding: 0px;
    font-family: fantasy;
    font-size: xx-large;
  }
  /* Side Bar */
  .sidebar{
    position: fixed;
    width: 200px;
    height: 400px;
    background: #151719;
    left: -200px;
    transition-duration: 2s;
  }
  
  .sidebar.active{
    left: 0px;
  }
  
  .sidebar ul li {
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  }

  .sidebar .sideMenu{
    padding: 20px 30px;
    color: gray;
    text-decoration: none;
    list-style :none;
    font-size: 1em;
  }
 
  .sidebar .sideMenu:hover{
    color: rgb(90, 6, 6);
    cursor: pointer;
  }

  .sidebar ul li{
    padding: 20px 5px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  }
  
  .sidebar .toggle-btn {
    position: absolute;
    left: 230px;
    top: 20px;
  }
  .sidebar .toggle-btn:hover{
    cursor: pointer;
  }
  
  .sidebar .toggle-btn span {
    display: block;
    width: 30px;
    height: 30px;
    background: gray;
    margin: 3px 0px;
  }
  .sidebar .toggle-btn span:hover {
    background: rgb(90, 6, 6);
    cursor: pointer;
  }

  /* Game Background */
  body {
    background-image: url('../Capture2.PNG');
    background-size: cover;
  }

  * {
    box-sizing: border-box;
  }

/* Select Character */
  
#mainTable{
  color: #0f0f0f;
  padding-left: 39.5%;
  padding-top: 20%;
}

#characterList{
  background: #0f0f0f;
  border-style: groove;
    border-color: rgb(90, 6, 6);
  color: gray;
  margin: 10px;
}

#characterList:hover{
  color: rgb(90, 6, 6); 
  cursor: pointer;
}

/* ------------------------ */

#name{
  color: gray;
  background-color: #0f0f0f;
  border: solid gray 1px;
  border-style: groove;
  border-color: rgb(90, 6, 6);
}
#name:hover{
  color:  rgb(90, 6, 6);
  cursor: pointer;
}

/* ------------------------ */
#submitButton{
  color: gray;
  background-color: #0f0f0f;
  border: solid gray 1px;
  border-style: groove;
  border-color: rgb(90, 6, 6);
}
#submitButton:hover{
  color: rgb(90, 6, 6);
  cursor: pointer;
}

#submitButton:active{
  transform: translateY(4px);
}
  